@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

:root {
    --primary-color: rgba(255, 255, 0, 0.514);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    font-family: 'Comic Neue', cursive;
}

p {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.grid{
    display: grid;
    height: 100vh;
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.3fr .15fr 1.5fr 0.7fr 0.3fr;
    gap: 0.5rem;
    grid-template-areas: 
        "header header header header"
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content2 content3"
        "footer footer footer footer";
    justify-content: center;
    margin: 0 auto;
}

.grid-color {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    gap: 1rem;
}

.container {
    background-color: #CCC;
}

header {
    grid-area: header;
    padding: 10px;
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.button {
    padding: 10px;
    box-shadow: -5px -5px 0 black;
    margin-top: 5px;
}

.red{
    background-color: rgb(255, 0, 0);
    box-shadow: -5px -5px 0 rgb(240, 0, 0);
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.content1 {
    grid-area: content1;
}

.content2 {
    grid-area: content2;
}

.content3 {
    grid-area: content3;
}

footer {
    grid-area: footer;
}




.box{
    border: black solid 2px;
    height: 20rem;
}

.colorbox1 {
    background-color: yellow;
}

.colorbox2 {
    background-color: blue;
}

.colorbox3 {
    background-color: green;
}

.colorbox4 {
    background-color: red;
}

.colorbox5 {
    background-color: orange;
}